<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">COOKOO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <div class="forms">
      <form class="search-form d-inline form-inline my-2 my-lg-0 mr-2">
        <input class="form-control mr-sm-2" type="search" placeholder="tacos, Japanese..." aria-label="Search" id="type">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Food</button>
      </form>
      <form class="d-inline form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Change Location" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">📍</button>
      </form>
    </div>
    <div class="dropdown dropleft">
      <%= image_tag ("TJ_avatar.JPEG"), class: "avatar dropdown-toggle", id: "dropdownMenuButton", data: {toggle: "dropdown"} %>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">My Order</a>
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </div>
  </div>
</nav>
