<%= form_for(order, url: admin_order_path(order)) do |f| %>
  <div>
    <%= f.check_box :completed %>
  </div>
  <%= f.submit "Complete", class: "btn btn-outline-success btn-sm my-2 my-sm-0" %>
<% end %>
