        <button type="button" class="btn btn-success btn-sml btn-tall btn-circle" data-toggle="modal" data-target="#myModal" style="font-size: 30px">Buy</button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <strong> Order Confirmation </strong>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
              </div>
              <div class="modal-body">
                  Please confirm that your order #xxxxxxxx will be picked up at #time
              </div>
              <div class="modal-footer" style="border: none">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#myNewModal" >Yes</button>
              </div>
            </div>
          </div>
        </div>

       <div class="modal fade" id="myNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <strong> Order Confirmed</strong>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
              </div>
              <div class="modal-body">

              </div>
            </div>
          </div>
        </div>
