<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1468777675496-5782faaea55b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" />
  <div class="card-trip-infos">
    <div>
      <h2>Meal name</h2>
      <p>Japanese</p>
      <p class="card-trip-pricing">EUR 99.99</p>
    </div>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <i class="fas fa-star"></i>
  </div>
</div>
