         <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <strong> Order Confirmation </strong>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer" style="border: none">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#myNewModal">Yes</button>
                <%# link_to "Yes", order_path(@order) %>
              </div>
            </div>
          </div>
        </div>
