.meal-infos {
  float: left;
}

.rating-index {
  margin-right: 2px;
  margin-top: 8px;
  text-align: right;

  i {
    color: yellow;
  }

  a {
    font-size: .8rem;
  }
}

.card-trip {
  overflow: hidden;
  height: 280px;
  width: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 6px;
}

.card-trip > img {
  height: 180px;
  width: 240px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin-top: 6px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos .fas {
  width: 16px;
}

.link-to-text-color {
  color: black;
}

.link-to-text-color :hover {
  color: #6b5f4e;
}

