<%= simple_form_for @user do |f| %>
    <div class="form-group">
      <%= f.input :daily_meal, label: false, collection: @meals, include_blank: true%>
    </div>
    <div class="left">
      <%= f.submit 'Update', class: "btn btn-primary", data: {toggle: "modal", target: "#myModal"}%>
    </div>
<% end %>
